<h1 class='aboutTitle'>About Bubble Trouble</h1>
<div class="links">
    <div class="backButton">
        <img class='backBubble' style="width:18vw;height:18vw;" src="bubble" alt=""/>
        <a class='back' href="#/">Back</a>
    </div>
</div>
<section class='aboutSection'>
  <div class="gameSection">
    <p class='gameText'>

    </p>
  </div>
  <div class="creatorSection">
    <p class='creatorText'>
      Devin and Sarah are currently students enrolled in the Web Development Immersive Program at Galvanize, Denver. 
    </p>
  </div>
</section>
