.main {
    background: #FF97E2;
}
@font-face {
    font-family: bubblesoap;
    src: url(/bubblesoap.ttf);
}
h1 {
    font-family: bubblesoap !important;
    font-size: 7vw;
    color: #5143FD !important;
    text-align: center;
    top: -5%;
}
@media (max-width: 600px) {
    h1 {
        font-size: 5vw !important;
        word-wrap: normal;
    }
}
.links a {
    position: absolute;
    z-index: 1;
    color: #5143FD !important;
    font-family: bubblesoap;
    text-decoration: none !important;
}
.links {
    height: 0vh;
}
a:hover {
    color: #150B96 !important;
}
.aboutGame {
    position: relative;
    width: 45vw;
    height: 14%;
    background: linear-gradient(to bottom right, #DCCDF2, rgba(57, 222, 230, 0.7));
    left: 26%;
    border-style: outset;
    border-radius: 25px;
    padding: .3em;
    z-index: 2;
}
.aboutText {
    font-size: 3vw;
    font-family: bubblesoap;
    line-height: 1em;
    text-align: center;
    color: #5143FD !important;
    font-weight: bold;
}
.play {
    z-index: 2;
    top: 32%;
    left: 18%;
    font-size: 9vw;
    position: absolute;
}
.playButton {
    height: 40vw;
    width: 40vw;
    left: 15%;
    margin-top: -3%;
    position: relative;
}
.playBubble, .aboutBubble, .backBubble {
    position: absolute;
}
.aboutButton {
    height: 25vw;
    width: 15vw;
    position: relative;
    left: 48%;
    margin-top: -26%;
}
.about {
    position: absolute;
    font-size: 4.3vw;
    text-align: center;
    top: 28%;
    line-height: 4vw;
    left: 38%;
}
.backButton {
    position: relative;
    width: 25vw;
    height: 25vw;
    margin-top: -7%;
    left: 2%;
}
.back {
    font-size: 5vw;
    left: 15%;
    top: 23%;
    font-size: 4vw;
}
.aboutTitle {
    position: relative;
    font-size: 5vw !important;
    margin: min(150px);
}
.aboutSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 70vw;
    height: 60vh;
    margin-top: 12%;
    left: 15%;
}
.gameSection, .creatorSection {
    position: relative;
    width: 28vw;
    height: 50vh;
    background: linear-gradient(to bottom right, #DCCDF2, rgba(57, 222, 230, 0.7));
    z-index: 2;
    border-style: outset;
    border-radius: 25px;
}
