.main {
    background: #FF97E2;
}
@font-face {
    font-family: BubbleRas;
    src: url(BubbleRas.ttf);
}
h1 {
    font-family: BubbleRas !important;
    font-size: 10em !important;
    color: #5143FD !important;
    text-align: center;
    top: -5%;
}
a {
    position: absolute;
    z-index: 1;
    color: #5143FD !important;
    font-family: BubbleRas;
}
.play {
    left: 24%;
    top: 35%;
    font-size: 16em;
}
.about {
    left: 56%;
    top: 65%;
    width: 150px;
    text-align: center;
    line-height: 45px;
    font-size: 8em;
}
.aboutTitle {
    margin-top: -5%;
}
.back {
    font-size: 8em;
    top: 21%;
    left: 2%;
}
.one {
    position: absolute;
    left: 65%;
    top: 25%;
}
.two {
    position: absolute;
    left: 15%;
    top: 25%;
}
.three {
    position: absolute;
    left: 75%;
    top: 45%;
}
.four {
    position: absolute;
    left: 8%;
    top: 75%;
}
.five {
    position: absolute;
    left: -5%;
    top: 10%;
}
.six {
    position: absolute;
    left: 50%;
    top: 53%;
}
.seven {
    position: absolute;
    left: 70%;
    top: 80%;
}

}

}

}
