.main {
    background: #FF97E2;
}
@font-face {
    font-family: bubblesoap;
    src: url(/bubblesoap.ttf);
}
h1 {
    font-family: bubblesoap !important;
    font-size: 7vw !important;
    color: #5143FD !important;
    text-align: center;
    top: -5%;
}
.links a {
    position: absolute;
    z-index: 1;
    color: #5143FD !important;
    font-family: bubblesoap;
    text-decoration: none !important;
}
a:hover {
    color: #150B96 !important;
}
.aboutGame {
    /*position: absolute;
    width: 45vw;
    height: 14%;
    background: linear-gradient(rgba(57, 222, 230, 0.7), #DCCDF2);
    left: 28%;
    top: 18%;
    border-style: outset;
    border-radius: 25px;
    font-size: 3vw;
    font-family: bubblesoap;
    line-height: 1em;
    text-align: center;
    padding: .3em;
    color: #5143FD !important;*/
}
.play {
    z-index: 2;
    top: 32%;
    left: 18%;
    font-size: 9vw;
    position: absolute;
}
.playButton {
    height: 40vw;
    width: 40vw;
    left: 15%;
    margin-top: 12vh;
    position: relative;
}
.playBubble, .aboutBubble {
    position: absolute;
}
.aboutButton {
    height: 25vw;
    width: 15vw;
    position: relative;
    left: 48%;
    margin-top: -25%;
}
.about {
    position: absolute;
    font-size: 4.3vw;
    text-align: center;
    top: 28%;
    line-height: 4vw;
    left: 38%;
}
.aboutTitle {
    position: relative;
    font-size: 5vw !important;
    margin: min(150px);
}
.back {
    font-size: 5vw;
    left: 1%;
}
.bubbles {
    height: 100vh;
    width: 100vw;
}
.one {
    position: absolute;
    left: 65%;
    top: 25%;
}
.two {
    position: absolute;
    left: 15%;
    top: 33vh;
}
.three {
    position: absolute;
    left: 75%;
    top: 45%;
}
.four {
    position: absolute;
    left: 8%;
    top: 75%;
}
.five {
    position: absolute;
    left: -5%;
    top: 13%;
}
.six {
    position: absolute;
    left: 50%;
    top: 53%;
}
.seven {
    position: absolute;
    left: 70%;
    top: 80%;
}

}
;

}

}

}
;

}

}

}
